
.button {
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	display: inline-block;
	border-radius: 4px;
	line-height: 1.25;
	color: white;
	padding: 16px 40px 16px 40px;
	position: relative;
	
}
.button span{
	position: relative;
	z-index: 2;
}
.button::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 4px;
	background: linear-gradient(55.95deg, #ff3640 0%, #F73E05 100%);
	opacity: 0;
	z-index: 2;
	transition: opacity 0.3s ease 0s;
}
.button:hover::before{
	opacity: 1;
}

.button--border{
	background: transparent;
	color: #FF3F3A;
	position: relative;
	padding: 15px 40px 15px 40px;
	border: 1px solid #FF3F3A;
	transition: background-color 0.5s ease 0s;
}
.button--border:hover{
	background-color:#ff3640;
	border: 1px solid #ff3640;
	color: white;
}
